@import "../myVars";

.category {
    margin-bottom: 40px;

    &__aside {
        &-title {
            @include properties ($fontPoppins, $black, 18px, 27px, 600);
            margin-bottom: 16px;
        }

        &-list {
            margin-bottom: 15px;
        }


        &-link {
            @include properties ($fontOpenSans, $primary, 14px, 19px);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__btn {
        display: inline-block;
        @include properties($fontPoppins, $black, 15px, 22px, 700 );
        background-color: $grey;
        padding: 12.5px;
        border-radius: 12px;
    }

    &__banner {
        width: 420px;
        height: auto;
    }

}


