.header {
    margin: 40px 0;

    &__search {
        border-radius: 12px;
        width: 500px;
        background-color: #F9F9F9;

        &-select {
            background: none;
            border: none;
            outline: none;
            text-align-last: center;
            cursor: pointer;
            font-size: 15px;
            line-height: 22px;
            font-weight: 700;
            padding: 10px 0 9px 16px;
            margin-right: 24px;
        }

        &-box {
            flex:1;
            overflow: hidden;

            &::before {
                margin-right: 24px;
                content: "";
                width: 20px;
                border: 1px solid #D1D1D1;
                transform: rotate(90deg);
            }

        }

        &-input {
            border: none;
            background: none;
            outline: none;
            padding: 0;
            font-size: 16px;
            line-height: 40px;
            width: 100%;
        }
    }

    &-actions__user {
        margin-right: 40px;
    }
}

.search-btn {
    padding-right: 12px;
    text-decoration: none;
}