@import "../myVars";

.category {
    margin-bottom: 40px;

    &__aside {
        &-title {
            @include properties ($fontPoppins, $black, 18px, 27px, 600);
            margin-bottom: 16px;
        }

        &-list {
            margin-bottom: 15px;
        }


        &-link {
            @include properties ($fontOpenSans, $primary, 14px, 19px);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__btn {
        display: inline-block;
        @include properties($fontPoppins, $black, 15px, 22px, 700);
        background-color: $grey;
        padding: 12.5px;
        border-radius: 12px;
    }

    &__banner {
        width: 420px;
        height: auto;
        background-repeat: no-repeat;

        &-title {
            @include properties ($fontPoppins, $black, 22px, 33px, 600);
            width: fit-content;
            margin: 0 0 5px 30px;
        }

        &-subtitle {
            @include properties ($fontPoppins, $primary, 12px, 18px, 600);
            width: fit-content;
            margin-left: 30px;
        }


        &-btn {
            @include properties ($fontPoppins, $black, 15px, 22px, 700);
            padding: 12px 38px 12px 16px;
            border: 2px solid $green;
            border-radius: 12px;
            width: fit-content;
            margin-left: 30px;


            &:hover {
                background-color: $green;
            }
        }

    }

}

.wrapper {
    margin-bottom: 30px;
}